<div *ngFor="let item of items" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> {{item.noun}}</h5>
            <a (click)="onViewBook(item.isbnId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">more</a>
            <div class="right">
                <a (click)="onViewBook(item.isbnId)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <img src="/assets/icons8-borrar-para-siempre-96.png" alt="" width="20px">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal View -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{book?.noun}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Writer: {{book?.writer}}</h3>
                <h5>Gender: {{book?.gender}}</h5>
                <h5>Publisher: {{book?.publisher}}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">are you sure to delete to {{book?.noun}}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Writer: {{book?.writer}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="onDelete(book.isbnId)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>